@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bayleys Web on AWS Test V1.01</h1>
</div>

<div class="row">
    <div>
        <h2>Testing AWS EC2 instance hosting</h2>
    </div>
</div>